
body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.element-menu-container {
  position: absolute;
  top: -260px;
  height: 50px;
}

.element-menu {
  background-color: #AAA;
  position: relative;
  width: 340px;
  z-index: 100;
  height: 240px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 3px 4px 1px gray;
  border-radius: 5px;
}

.element-menu i {
  /*margin-left: 3px;*/
  /*margin-right: 3px;*/
  margin: 13px;
}

.black-font {
  color: black;
}

.dark-and-blurry {
  -webkit-filter: blur(5px) brightness(50%);
}

.page-menu-label {
  font-weight: 100;
  display: block;
  width: 50%;
  font-size: 0.8em;
  font-family: sans-serif;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0.2em;
}

input[type='text'].page-menu-input {
  border-bottom: 2px solid white;
}

.page-menu-icons {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1.4em;
}

.page-menu-input {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 1.5em;
  font-size: 0.7em;
  text-align: center;
  background-color: transparent;
  color: white;
  font-weight: 100;
  margin-bottom: 2em;
  border: none;
  outline: none;
}

.page-menu-toggle-button {
  font-size: 0.8em;
  /*margin-top: 1em;*/
  background-color: gray;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 5em;
  font-weight: 200;
  outline: none;
}

.close-page-menu {
  font-size: 1.2em;
  width: 10em;
  margin-top: 1em;
  border: 2px solid white;
  font-weight: 100;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  outline: none;
}

.selected {
  background-color: white;
}

.menu-color-pickers {
  width: 26px;
  height: 30px;
  margin: 13px;
}

.text-color-input {
  position: absolute;
  left: 55px;
  top: 13px;
  opacity: 0;
  z-index: 200;
}



/* Classes to use dynamically */
.absolute {
  position: absolute;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.resize {
  resize: both;
  overflow: auto;
}

.resize:active {
  width: 0px;
  height: 0px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
