
body {
  height: 100vh;
  margin: 0;
}

.element-menu {
  background-color: #AAA;
  position: absolute;
  top: -60px;
  width: 200px;
  z-index: 100;
  border: 2px solid blue;
  height: 40px;
  text-align: center;
}



/* Classes to use dynamically */
.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
